@page "/account/login"
@page "/account/login?returnUrl"

@attribute [AllowAnonymous]

@using KioskStream.Web.Common.DataTransferObjects.Account

@layout LoginLayout


<MatCard>
    @*<div class="hidden-mdc-down">
            <MatIconButton Icon="exit_to_app" Class="float-left" @onclick="GoBack" />
            <MatIconButton Icon="home" Class="float-left" Link="/" />
        </div>*@
    <EditForm Model="@LoginRequest" OnValidSubmit="SubmitLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <fieldset>
            <div class="form-group">
                <MatTextField id="userName" @bind-Value="@LoginRequest.UserName" Label="User Name" Icon="person" IconTrailing="true" FullWidth="true" Required="true" tabindex="1"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@LoginRequest.Password" Label="Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password" tabindex="2"></MatTextField>
            </div>
            <div class="form-group">
                <MatButton class="float-right" Type="submit" Raised="true" tabindex="3">Login</MatButton>
                <MatCheckbox @bind-Value="@LoginRequest.RememberMe" class="filled-in chk-col-blue">Remember Me</MatCheckbox>
            </div>
            <hr />
            <div>
                <MatButton class="float-left" OnClick="@Register" Raised="true">Create account</MatButton>
                @*<MatButton class="float-right" OnClick="@GoogleSignIn" Raised="true">Sign in with <img height="18" style="margin-left: 5px" src="https://www.google.pl/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" /></MatButton>*@<br />
            </div>
        </fieldset>
    </EditForm>
</MatCard>
